BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 0

# Quebra de linha antes das chaves
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

# Outras preferências
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: Align
AlignOperands: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SpaceBeforeParens: ControlStatements
KeepEmptyLinesAtTheStartOfBlocks: false
